#logo{
  width:90em;
 height:20em;
 position:relative;

}
body{
  overflow-x: hidden;
}
#loginTitle,#subtitle,#signin{
  position:relative;
  left:500px;
  
}
#loginTitle{
  font-weight: bold;
}

input[type=text], select {
  position:relative;
  left:500px;
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#forgot{
  position:relative;
  left:510px;
  color:blue;
 

}
#signup{
  position:relative;
  left:810px;
  color:blue;
  
}
#signin{
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #143ca5 ;
  color:white;
  font-weight: bold;

}

#facebook{
  position: relative;
  padding: 12px 20px;
  left:550px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color:#3b5998;
  color:white;
  font-weight: bold;

}
#google{
  position: relative;
  padding: 12px 20px;
  left:600px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color:#de5246;
  color:white;
  font-weight: bold;

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#back{
    position: absolute;
    top:50px;
    left:30px;
    z-index: 1;
    width:30px;
    height:30px;
}