#equipmentDrop, #titleInput, #otherInput, #dpriceInput, #wpriceInput, #mpriceInput {
    position: relative;
    left: 0em;
    width: 500px;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#equipment, #title, #other, #dprice, #wprice, #mprice, #pic {
    position: relative;
    left: 29.5em;
    margin-bottom: 5px;
    margin-top: 10px;
    color: gray
}

#img {
    position: relative;
    left: 19.5em;
}

#fromDatetext {
    position: relative;
    left: 29.5em;
    margin-bottom: 5px;
    margin-top: 10px;
    color: gray
}


#toDatetext {
    position: relative;
    left: 11.5em;
    margin-bottom: 5px;
    margin-top: 10px;
    color: gray
}

#fromDate {
    position: relative;
    left: -8.5em;
    width: 230px;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#toDate {
    position: relative;
    left: 8.5em;
    top: -3.3em;
    width: 230px;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#post {
    position: relative;
    left: 29.5em;
    width: 230px;
    margin-top: 15px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #143ca5;
    color: white;
    font-weight: bold;
}

#clear {
    position: relative;
    left: 32em;
    width: 230px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.preview {
    width: 500px;
    position: relative;
    left: 15em;
}

#next {
    position: relative;
    left: 57.5em;
    top: -5em;
    border: solid blue;
    background-color: transparent;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}