#equipmentType-body {
    text-align: center;
    font-family: Roboto, sans-serif;
}

#equipmentType-header {
    background-color: #133da5;
    padding-bottom: 3em;
    padding-top: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 2em 30% 2em;
    position: relative;
}

#equipmentType-editableText {
    color: #e32020;
}

#equipmentType-backButtonDiv {
    position: relative;
    display: inline-block;
    filter: invert(100%);
    right: 8em;
    top: 2.45em;
}

#equipmentType-titleText {
    color: white;
}

#equipmentType-addButtonDiv {
    position: relative;
    display: inline-block;
    text-align: center;
}

#equipmentType-addButton {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 39%;
    right: 5%;
}

#equipmentType-table {
    margin-left: auto;
    margin-right: auto;
    counter-reset: rowNumber;
    border-collapse: collapse;
}

.equipmentType-tableElement {
    text-align: center;
    border: 1px solid #cccccc;
    height: 2.5em;
    padding: 2px 1em;
}

.equipmentType-tableHeading {
    border: 1px solid #cccccc;
    height: 2.5em;
    background-color: #5982d3;
}

#equipmentType-tableLinkArrow {
    width: 1.5em;
    height: 1.5em;
}

#equipmentType-table tr:not(:first-child) {
    counter-increment: rowNumber;
}

#equipmentType-table tr .equipmentType-tableElement:first-child::before {
    content: counter(rowNumber);
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.equipmentType-dropdownButton {
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.equipmentType-dropdownButton:hover {
    background-color: #f1f1f1;
}

#equipmentType-dropdownButtonID {
    background-color: white;
}

#equipmentType-dropdownCancel {
    color: black;
    padding: 12px 53px;
    background-color: #ffffff;
}

#equipmentType-dropdownCancel:hover {
    min-width: 160px;
    background-color: #f1f1f1;
}

#equipmentType-dropdownDiv {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}