#equipments {
    font-family: Roboto, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    counter-reset: rowNumber;
}

#equipments tr:not(:first-child) {
    counter-increment: rowNumber;
}

#equipments tr td:first-child::before {
    content: counter(rowNumber);
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#equipments td, #equipments th {
    border: 1px solid #ddd;
    padding: 8px;
}

#equipments tr:nth-child(even) {
    background-color: #f2f2f2;
}

#equipments tr:hover {
    background-color: #ddd;
}

#equipments th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #5982d3;
    color: black;
    text-align: center;
}

#equipmentGroup-addButton {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 3em;
    right: 2em;
}

#equipmentGroup-page {
    text-align: center;
}

#equipmentGroup-backButton {
    position: absolute;
    left: 3%;
    filter: invert(100%);
    padding-top: 3.5em;
    padding-left: 1em;
}

#equipmentGroup-header {
    position: relative;
    top: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: #224cbf;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 30%;
    width: 50%;
}

#equipmentGroup-equipmentGroupText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 5em;
    padding-top: 2.5em;
}

#equipmentGroup-tableLinkArrow {
    width: 1.5em;
    height: 1.5em;
}

#equipmentGroup-linkArrowBox {
    width: 2em;
    height: 1em;
}