#equipmentForRent-body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#equipmentForRent-header {
    background-color: #133da5;
    padding-bottom: 4em;
    padding-top: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 2em 30% 2em;
}

#equipmentForRent-titleText {
    color: white;
    display: inline-block;
}

#equipmentForRent-backButton {
    position: relative;
    display: inline-block;
    right: 4em;
    bottom: 0.1em;
    filter: invert(100%);
}

#equipmentForRent-table {
    margin-left: auto;
    margin-right: auto;
    counter-reset: rowNumber;
    border-collapse: collapse;
}

.equipmentForRent-tableElement {
    text-align: center;
    border: 1px solid #cccccc;
    height: 2.5em;
}

.equipmentForRent-tableHeading {
    height: 2.5em;
    background-color: #5982d3;
    border: 1px solid #cccccc;
}

#equipmentForRent-tableArrow {
    height: 1.5em;
    width: 1.5em;
}

#equipmentForRent-table tr:not(:first-child) {
    counter-increment: rowNumber;
}

#equipmentForRent-table tr .equipmentForRent-tableElement:first-child::before {
    content: counter(rowNumber);
    margin: 0 0.5em 0 0.5em;
}