/*Forgot Password Page*/

#forgot-page {
    text-align: center;
}

#forgot-backButton {
    position: relative;
    display: inline-block;
    right: 4em;
    bottom: 0.1em;
    filter: invert(100%);
}

#forgot-header {
    background-color: #224cbf;
    padding-bottom: 4em;
    padding-top: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 2em 30% 2em;
}

#forgot-forgotPasswordText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

#forgot-emailAndSubmit {
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#forgot-subtitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#forgot-emailInput {
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#forgot-submit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #224cbf;
    border-color: #c4c7cc;
}