#homeWithLogin-header {
    position: relative;
    width: 50%;
}

#homeWithLogin-logo {
    text-align: center;
    width: 120%;
    margin-left: 40%;
    border-radius: 30px;
}

#homeWithLogin-suggestions {
    padding: 30px;
    text-align: center;
    background-color: darkcyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 30px;
}

#homeWithLogin-navbar {
    text-align: center;
}

#homeWithLogin-navbar ul li {
    display: inline;
}

#homeWithLogin-icons {
    width: 3em;
    height: 3em;
    border-radius: 20px;
    align-content: center;
    margin-left: 3.9em;
    margin-right: 4.5em;
}

#homeWithLogin-links {
    margin-top: -0.5em;
}

#homeWithLogin-menuItem {
    text-align: center;
    color: black;
    margin: 50px 40%;
    padding: 30px;
    background-color: lightgray;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#homeWithLogin-menuItemIcons {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 18px;
    left: -44%;
}

#homeWithLogin-menuItemLinks {
    position: absolute;
    text-align: center;
}

#homeWithLogin-companyManagement {
    margin-top: 100px;
}

#homeWithLogin-companyManagementHeader {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#homeWithLogin-equipmentManagement {
    margin-top: 100px;
}

#homeWithLogin-equipmentManagementHeader {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}