#locations {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #locations td, #locations th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #locations tr:nth-child(even){background-color: #f2f2f2;}
  
  #locations tr:hover {background-color: #ddd;}
  
  #locations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0478aa;
    color: white;
    text-align: center;
  }




#location-addButton{
    position:absolute;
    height: 40px;
    width: 40px;
    top: 16%;
    left:68%

}

#locationGroup-page {
    text-align: center;
}

#locationGroup-backButton {
    position: absolute;
    left: 3%;
    filter: invert(100%);
    padding-top: 68px;

}

#locationGroup-header {
    position:relative;
    top: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: #224cbf;
    margin-left: auto;
    margin-right: auto;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:30%;
    width: 50%;
}

#locationGroup-locationGroupText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:  left;
    padding-left: 50px;
    padding-top:50px;
}

