#marketplace-header {
    margin-top: 4em;
    margin-bottom: 3em;
    text-align: center;
}

#marketplace-homeIcon {
    position: absolute;
    z-index: auto;
}

#marketplace-SCEMLogo {
    border-radius: 1em;
}

#marketplace-searchButton {
    position: absolute;
    z-index: auto;
}

#marketplace-marketplaceItems {
    text-align: center;
}

#marketplace-marketplaceItem {
    position: relative;
    text-align: center;
    margin-bottom: 2em;
    padding: 3em;
    background-color: whitesmoke;
    border-radius: 2em;
    margin-left: 35%;
    margin-right: 35%;
    font-family: Arial, Helvetica, sans-serif;
}

#marketplace-marketplaceItemTitle {
    margin-bottom: 1em;
}

#marketplace-marketplaceItemLink {
    color: blue;
}

#marketplace-marketplaceItemUserCreated {
    position: absolute;
    bottom: 0;
    left: 0;
}

#marketplace-marketplaceItemDateAndTimeCreated {
    position: absolute;
    bottom: 0;
    right: 0;
}

#marketplace-addItem {
    position: fixed;
    top: 0;
    right: 0;
}