/*marketplaceAddItem Page*/
#marketplaceAddItem-page {
    text-align: center;
}

#marketplaceAddItem-backButton {
    position: absolute;
    left: calc(50% - 153px);
    filter: invert(100%);
    margin-top: 17px;
}

#marketplaceAddItem-header {
    background-color: #224cbf;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 50px;
    padding-top: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 25px;
}

#marketplaceAddItem-marketplaceAddItemText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#marketplaceAddItem-subtitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#marketplaceAddItem-inputBoxes {
    text-align: center;
}

#marketplaceAddItem-InputName {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputFromDate {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputToDate {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputSite {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputDescription {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputDailyPrice {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputWeeklyPrice {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputMonthlyPrice {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-InputEquipmentType {
    border-style: double;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    font-size: 15px;
    border-color: #c4c7cc;
}

#marketplaceAddItem-LabelName {
    text-align:left;
}

/*input {*/
/*    height: 2em;*/
/*    width: 2em;*/
/*    vertical-align: middle;*/
/*}*/

#marketplaceAddItem-marketplaceAddItembutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #224cbf;
    border-color: #c4c7cc;
}

#marketplaceAddItem-addImages {
    margin-top: 2em;
    margin-bottom: 0.5em;
}