#signOut-signOutButton {
    height: 35px;
    width: 150px;
    background-color: #224cbf;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border-color: transparent;
    font-weight: bold;
}