#toolEquipmentCount-page {
    text-align: center;
    font-family: Roboto, sans-serif;
}

#toolEquipmentCount-header {
    background-color: #133da5;
    padding-bottom: 3em;
    padding-top: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 2em 30% 2em;
    position: relative;
}

#toolEquipmentCount-backButtonDiv {
    position: relative;
    display: inline-block;
    filter: invert(100%);
    right: 8em;
    top: 2.45em;
}

#toolEquipmentCount-titleText {
    color: white;
}

.toolEquipmentCount-formDivs {
    margin-top: 2em;
}

.toolEquipmentCount-labels {
    color: gray;
}

.toolEquipmentCount-inputs {
    border-style: solid;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    font-size: 15px;
    border-color: #c4c7cc;
    color: #133da5;
}

#toolEquipmentCount-results {
    display: block;
    margin: auto auto;
    background-color: #eeeeee;
    width: 400px;
    height: 50px;
    border-radius: 5px;
}

#toolEquipmentCount-resultsCount {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 1em;
    top: 30%;
}

#toolEquipmentCount-button {
    font-size: 16px;
    color: white;
    width: 400px;
    height: 50px;
    margin-top: 2em;
    border-radius: 0.7em;
    background-color: #224cbf;
    border-color: #c4c7cc;
    font-weight: bold;
}

#toolEquipmentCount-table {
    margin: 3em auto 0 auto;
    border-collapse: collapse;
}

.toolEquipmentCount-tableElement {
    text-align: center;
    border: 1px solid #cccccc;
    height: 2.5em;
    padding: 2px 1em;
}

.toolEquipmentCount-tableHeading {
    border: 1px solid #cccccc;
    height: 2.5em;
    background-color: #5982d3;
}

#toolEquipmentCount-tableArrowButton {
    border: none;
    background-color: white;
}

#equipmentType-tableArrow {
    width: 1.5em;
    height: 1.5em;
}