#userGroups-body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#userGroups-header {
    background-color: #133da5;
    padding: 2em 0 0 0;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 2em 30% 2em;
}

#userGroups-titleText {
    color: white;
    display: inline-block;
}

#userGroups-backButton {
    position: relative;
    display: inline-block;
    right: 4em;
    padding-bottom: 4em;
    bottom: 0.1em;
    filter: invert(100%);
}

#userGroups-addButtonDiv {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 5px;
    left: 20%;
    top: 0.7em;
}

#userGroups-addButton {
    height: 40px;
    width: 40px;
}

#userGroups-table {
    margin-left: auto;
    margin-right: auto;
    counter-reset: rowNumber;
}

.userGroups-tableElement {
    text-align: center;
    border: 1px solid black;
    height: 2.5em;
}

.userGroups-tableHeading {
    border: 1px solid black;
    height: 2.5em;
    background-color: #5982d3;
}

#userGroups-table tr:not(:first-child) {
    counter-increment: rowNumber;
}

#userGroups-table tr .userGroups-tableElement:first-child::before {
    content: counter(rowNumber);
    margin-left: 0.5em;
    margin-right: 0.5em;
}