#userManagement-body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#userManagement-header {
    background-color: #133da5;
    padding-top: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 2em 30% 2em;
}

#userManagement-titleText {
    color: white;
    display: inline-block;
}

#userManagement-backButton {
    position: relative;
    display: inline-block;
    right: 4em;
    bottom: 0.1em;
    filter: invert(100%);
}

#userManagement-addButtonDiv {
    position: relative;
    text-align: right;
    bottom: 4em;
}

#userManagement-addButton {
    height: 40px;
    width: 40px;
}

#userManagement-usersInfoTable {
    margin-left: auto;
    margin-right: auto;
    counter-reset: rowNumber;
}

.userManagement-usersInfoTableElement {
    text-align: center;
    border: 1px solid black;
    height: 2.5em;
}

.userManagement-usersInfoTableHeading {
    border: 1px solid black;
    height: 2.5em;
    background-color: #5982d3;
}

#userManagement-tableLinkArrow {
    width: 1.5em;
    height: 1.5em;
}

#userManagement-usersInfoTable tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    margin-left: 0.5em;
    margin-right: 0.5em;
}